<div class="sb-signup-wrapper">
  <div class="sb-signup">
    <%= form_for(@user) do |f| %>
    <h1> Join us </h1> 
    <p> 
      <label> First Name</label><i class="icon-user icon-large"></i>
      <%= f.text_field :first_name,:placeholder=>"John" %>
    </p>
    <p> 
      <label> Last Name</label><i class="icon-user icon-large"></i>
      <%= f.text_field :last_name,:placeholder=>"Smith" %>
    </p>
    <p> 
      <label> Your Email(username)</label><i class="icon-envelope-alt icon-large"></i> 
      <%= f.text_field :email,:placeholder=>"mymail@mail.com",:type=>"email"%>
    </p>
    <p> 
      <label>Your password </label><i class="icon-eye-close icon-large"></i> 
      <%= f.password_field :password,:placeholder=>"eg. X8df!90EO" %>
    </p>
    <p> 
      <label>Please confirm your password </label><i class="icon-eye-open icon-large"></i> 
      <%= f.password_field :password_confirmation,:placeholder=>"eg. X8df!90EO" %>
    </p>
    <p class="signin button"> 
      <%= f.submit "Sign Up" %> 
    </p>
    <% end %>
  </div>
  <div class="social_network_authorize">
    <h1>OR</h1>
    <h3>Sign in with</h3>
    <% ["twitter","facebook", "linkedin","open_id"].each do |provider| %>
      <% if provider !="open_id" %>
        <%= link_to image_tag("auth/#{provider}_32.png"), "/auth/#{provider}" %>
      <% else %>
        <%= link_to image_tag("auth/#{provider}_32.png"), "/auth/#{provider}/openid_url=https://www.google.com/accounts/o8/id" %>
      <% end %>
    <% end %>
  </div>
</div>


